{# -*- mode: jinja2; -*- #} {% extends 'base.html' %} {% block header %}
<h1>{% block title %}{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <p class="fw-bold text-center">Nom de la chaine :</p>
    </div>
    <div class="col-md-auto">
      <p class="fw-bold text-center">{{name_supply_chain}}</p>
    </div>
  </div>
</div>

<div class="row justify-content-center">
  <p class="fw-bold text-center">
    Stock de {{running_commands[0]['name_client']}}: {{current_round_stock}}
  </p>
</div>
<div class="row justify-content-center">
  <div class="col col-4">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Nom du fournisseur</th>
          <th>Quantité de la commande en cours</th>
          <th>Round de réception de la livraison</th>
        </tr>
      </thead>
      <tbody>
        {% for command in running_commands %}
        <tr class="table-active">
          <th scope="col">{{command['name_supplier']}}</th>
          <th scope="col">{{command['quantity']}}</th>
          <th scope="col">{{command['round_received']}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="col col-4">
    <form method="post" enctype="multipart/form-data">
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">Nom du fournisseur</th>
            <th scope="col">Quantité de la commande du round</th>
          </tr>
        </thead>
        <tbody>
          {% for supplier in supplier_demands %}
          <tr class="table-active">
            <th scope="col">{{supplier['name_supplier']}}</th>
            <th scope="col">
              <div class="form-group">
                <label for="{{supplier['name_supplier']}}"></label>
                <input
                  type="{{supplier['name_supplier']}}"
                  name="{{supplier['name_supplier']}}"
                  id="{{supplier['name_supplier']}}"
                  required
                  class="form-control"
                />
              </div>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="row d-flex justify-content-center">
        <div class="col-4">
          {% if state_game == False %}
          <input
            class="btn btn-usual-custom btn-block"
            type="submit"
            value="Valider"
            href="{{url_for('play.player_game')}}"
          />
          {% else %}
          <a
            class="btn btn-outline-secondary btn-sm"
            type="button"
            href="{{ url_for('play.graphs') }}"
            style="margin-left: 1rem"
          >
            Graphiques
          </a>
          {% endif %}
        </div>
      </div>
    </form>
  </div>
  <div class="col col-4">
    <p class="fw-bold text-center">Round Actuel : {{current_round}}</p>
  </div>
</div>
{% endblock %}
